<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}My site</title>
        {% block head_favicon %}
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_links %}
        {% endblock head_links %}
    </head>
    <body>
        <header>
            <div class="header">
                {% block header %}
                    <h1>My site</h1>
                {% endblock header %}
                <a href="{% url 'portal:index' %}">Home</a>
                <a href="{% url 'photo_gallery:index' %}">Photo gallery</a>
                <a href="{% url 'polls:index' %}">Polls</a>
                <a href="{% url 'admin:index' %}">Admin</a>
            </div>
        </header>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="footer">
            {% block footer %}
                <p>Simón Golpe Varela 2021-current</p>
            {% endblock footer %}
        </div>
    </body>
    {% block footer_js %}
    {% endblock footer_js %}
</html>
