{% extends "base_generic.html" %}
{% load static %}

{% block title %}Polls | {% endblock title %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% endblock head_links %}

{% block header %}
    <h1>Polls</h1>
{% endblock header %}

{% block content %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}" >{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}
