{% extends "polls/index.html" %}
{% load static %}

{% block title %}Result | {{ block.super }}{% endblock title %}

{% block header %}
    <h1>Results of poll "{{ question.question_text }}"</h1>
{% endblock header %}

{% block content %}
    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
{% endblock content %}