{% extends "base_generic.html" %}
{% load static %}

{% block title %}Gallery | {% endblock title %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'photo_gallery/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.css" integrity="sha512-8WAX0xL/cHZ38RXoX2gtuqkAwmDVAzGwoFVmHvn46IDHGWOjTHx0vcl9OapNrfOzpFtql0SNkv+0y0b5Fm8ZkA==" crossorigin="anonymous" />
{% endblock head_links %}

{% block header %}
    <h1>{{ album|capfirst }} gallery</h1>
{% endblock header %}

{% block content %}
    <div class="container">
        <section class="photo_gallery">
            {% for gallery_image in album.images.all %}
                <a href="{{ gallery_image.image.url }}"><img src="{{ gallery_image.image.url }}" alt="" title="" /></a>
            {% endfor %}
        </section>
    </div>
{% endblock content %}

{% block footer_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>
    <script>
        var gallery = new SimpleLightbox('.photo_gallery a');
    </script>
{% endblock footer_js %}
