{% extends "base_generic.html" %}
{% load static %}

{% block title %}Photo gallery | {% endblock title %}

{% block header %}
    <h1>Photo gallery</h1>
{% endblock header %}

{% block content %}
    <h2>Show album</h2>
    {% for album in albums %}
        <a href="{% url 'photo_gallery:gallery' album %}">{{ album }}</a>
    {% endfor %}
    <h2>Add album</h2>
    <form id="album_form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ album_form }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit" />
    </form>
{% endblock content %}
